.also_wrapper{

    h1{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        text-transform: uppercase;
    }
}

.also-card{
    display: flex;  
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}