.review__wrapper{
    margin-top: 100px;
}
.review__text{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}


.div__review{
    display: flex;
    justify-self: center;
    margin-top: 50px;
    gap: 50px;
    div{
        border: 1px solid rgba(0, 0, 0, 0.177);
        padding: 20px;
        border-radius: 15px;


        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}