.hero{
    background: #F2F0F1;
}

.hero__wrapper{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


    @media (max-width: 700px) {
      display: grid;
      grid-template-columns: 1fr;
      
      img{
          width: 100%;
        }
        
    }
}
.hero__box{
    display: flex;
    flex-direction: column;
    gap: 30px;

    
    
    @media (max-width: 700px) {
        display: flex;
        align-items: center;
        text-align: center;
        width: 450px;

      .hero__inner{
        display: grid;
        grid-template-columns: 1fr;
      }
    }
}
.hero__box h1 {
    font-size: 64px;
    text-align: start;
    letter-spacing: -5px;
}
.hero__box p {
    color: #0009;
    max-width: 510px;
}
.hero__box button {
    background: #000;
    border-radius: 45px;
    padding: 10px;
    color: #fff;
    width: 200px;
}   



.hero__inner{
    display: flex;
    gap: 30px;
    width: 500px;
    h3{
        font-size: 40px;
    }
}