.category {
    padding: 50px 0;
    
    .category__wrapper {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .category__card {
      flex: 1 1 calc(25% - 20px); /* 4 карточки в ряд */
      min-width: 200px;
      margin-bottom: 30px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }
    }
  
    .btn {
      margin-top: 30px;
      display: block;
      text-align: center;
      padding: 12px 20px;
      background-color: #000;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      width: 200px;
      margin: 0 auto;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #444;
      }
    }
  }
  
  /* Адаптивность */
  @media (max-width: 1024px) {
    .category__wrapper {
      .category__card {
        flex: 1 1 calc(50% - 20px); /* 2 карточки в ряд */
      }
    }
  }
  
  @media (max-width: 768px) {
    .category__wrapper {
      .category__card {
        flex: 1 1 100%; /* 1 карточка в ряд */
      }
    }
  }
  